BOT_TOKEN=
LOCAL_API_URL=http://localhost:8081
MAX_FILE_SIZE_MB=2000
MAX_DURATION_SEC=3600
TEMP_DIR=./temp
COOKIES_DIR=./cookies
LOG_DIR=./logs
LOG_LEVEL=WARNING
ADMIN_IDS=
USER_COOLDOWN_SEC=5
MAX_CONCURRENT=1
TEMP_LIMIT_MB=1500
DB_PATH=./data/bot.db
AUTO_QUALITY=true
BATCH_LIMIT=3
